/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/harjoitustyo/src/__pycache__/
/.vscode/
/harjoitustyo/.venv/
/harjoitustyo/src/tests/__pycache__/
/harjoitustyo/htmlcov
/harjoitustyo/.coverage
/harjoitustyo/src/ui/__pycache__/
/harjoitustyo/src/services/__pycache__/
/harjoitustyosrc/services/__pycache__/votes.cpython-38.pyc

